.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-width: 1px;
  border-style: solid;
  border: none;
  background-color: rgb(35, 202, 35);
  padding-top: 20px;
  position: fixed;
  top: 1;
  width: 100%;
  z-index: 100;

}

.logo {
  width: 120px;
  height: auto;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -10px;
  
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.title2 {
  color:rgb(35, 202, 35);
}

.searchbar {
    height: 30px;
    width: 220px;
    border-radius: 18px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 30px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    margin-right: 140px;
    margin-top: 30px;
  }

  .tab {
    color: white;
    font-size: 18px;
    transition: 0.s;
    cursor: pointer;
  }

  .tab:hover {
    color: yellow;
    cursor: pointer;
  }

  a:link {
    text-decoration: none;
  }